/* 
breakpoint-screen: 1920px; 
breakpoint-tablet: 1023px;
breakpoint-mobile: 767px;
*/
@media (max-width:1920px) { }
@media (max-width:1023px) { }
@media (max-width:767px) {

    /*
    Typography
     */

    /* Heading text */
    h1, .h1 { font-size: 2.25rem; }
    h2, .h2 { font-size: 2rem; }
    h3, .h3 { font-size: 1.75rem; }
    h4, .h4 { font-size: 1.5rem; }
    h5, .h5 { font-size: 1.25rem; }
    h6, .h6 { font-size: 1rem; }

    /* Display Heading text */
    .display-1 { font-size: 4.25rem; }
    .display-2 { font-size: 4rem; margin-bottom: 1.5rem; }
    .display-3 { font-size: 3.75rem; }
    .display-4 { font-size: 3.5rem; }
    .display-5 { font-size: 3.25rem; }
    .display-6 { font-size: 3rem; }

    /*
    Common
     */

    /* site */
    .site-header { padding-top: 5rem; padding-bottom: 3rem; }
    .site-content { padding-bottom: 5rem; }
}
